*.suo
*.user
.editorconfig
*.DotSettings
.vs/
.idea/
.code/
.tmp/
.git/
logs/
bin/
obj/
/Problems/obj/
_UpgradeReport_Files/
[Pp]ackages/
[Oo]utput/
.venv/
global.json

Thumbs.db
Desktop.ini
.DS_Store

/BenchmarkDotNet.Artifacts/
